swagger: "2.0"
info:
  description: "zhaohui.wiki的后端服务"
  version: "1.0.0"
  title: "backend"
  termsOfService: ""
  contact:
    email: "2581543189@qq.com"
  license:
    name: "MIT"
    url: "https://github.com/2581543189/zhaohui_wiki/blob/master/LICENSE"
host: "www.zhaohui.wiki"
basePath: "/backend"
tags:
- name: "用户相关"
  description: "用户信息的增删改查"
- name: "技能相关"
  description: "技能信息的增删改查"
- name: "文章相关"
  description: "文章信息的增删改查"
- name: "书籍相关"
  description: "书籍信息的增删改查"
- name: "笔记相关"
  description: "笔记信息的增删改查"
- name: "任务相关"
  description: "任务信息的增删改查"
schemes:
- "http"
paths:
  /user/query:
    post:
      tags:
      - "用户相关"
      summary: "查询用户"
      description: "获取用户列表"
      operationId: "userQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/UserQueryRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/UserQueryResponse"
        400:
          description: "失败"
  /skill/query:
    post:
      tags:
      - "技能相关"
      summary: "查询技能"
      description: "获取技能列表"
      operationId: "skillQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/SkillQueryRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/SkillQueryResponse"
        400:
          description: "失败"
  /skill/distinctValue:
    post:
      tags:
      - "技能相关"
      summary: "级联查询"
      description: "获取级联查询展示数据"
      operationId: "skillDistinctValue"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/DistinctSkillRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/DistinctSkillResponse"
        400:
          description: "失败"
  /article/query:
    post:
      tags:
      - "文章相关"
      summary: "查询文章"
      description: "获取文章列表"
      operationId: "articleQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/ArticleQueryRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/ArticleQueryResponse"
        400:
          description: "失败"
  /article/distinctPlatform:
    post:
      tags:
      - "文章相关"
      summary: "平台列表"
      description: "获取平台列表数据"
      operationId: "articleDistinctPlatform"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/DistinctPlatformResponse"
        400:
          description: "失败"
  /book/query:
    post:
      tags:
      - "书籍相关"
      summary: "查询书籍"
      description: "获取书籍列表"
      operationId: "bookQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/BookQueryRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/BookQueryResponse"
        400:
          description: "失败"
  /note/query:
    post:
      tags:
      - "笔记相关"
      summary: "查询笔记"
      description: "获取笔记列表"
      operationId: "noteQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/NoteQueryRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/NoteQueryResponse"
        400:
          description: "失败"
  /bulletin/query:
    post:
      tags:
      - "任务相关"
      summary: "查询任务"
      description: "获取任务列表"
      operationId: "bulletinQuery"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "查询条件"
        required: true
        schema:
          $ref: "#/definitions/BulletinQueryRequest"
      responses:
        200:
          description: "成功"
          schema:
            $ref: "#/definitions/BulletinQueryResponse"
        400:
          description: "失败"
definitions:
  UserQueryRequest:
    type: "object"
    properties:
      currentPage:
        type: "integer"
        format: "int64"
        description: "当前页数"
      pageSize:
        type: "integer"
        format: "int64"
        description: "分页大小"
      sorter:
        type: "string"
        description: "排序方式 格式：字段名_排序方式 例如：name_descend"
      id:
        type: "string"
        description: "主键id"
      name:
        type: "string"
        description: "用户名称:模糊查询"
      username:
        type: "string"
        description: "用户名称:精确匹配"    
      password:
        type: "string"
        description: "密码"
      role:
        type: "integer"
        format: "int64"
        description: "角色:0:管理员,1:普通用户,2:访客"
    xml:
      name: "UserQueryRequest"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "主键id"
      name:
        type: "string"
        description: "用户名"
      passward:
        type: "string"
        description: "密码"
      role:
        type: "integer"
        description: "角色:0:管理员,1:普通用户,2:访客"
      timestamp:
        type: "string"
        format: "date-time"
        description: "时间戳"
      avatar:
        type: "string"
        description: "头像图片url"
    xml:
      name: "User"
  UserQueryResponse:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int64"
        description: "数据量"
      rows:
        type: "array"
        items:
          $ref: "#/definitions/User"
        description: "用户列表"
    xml:
      name: "UserQueryResponse"
  SkillQueryRequest:
    type: "object"
    properties:
      currentPage:
        type: "integer"
        format: "int64"
        description: "当前页数"
      pageSize:
        type: "integer"
        format: "int64"
        description: "分页大小"
      sorter:
        type: "string"
        description: "排序方式 格式：字段名_排序方式 例如：name_descend"
      id:
        type: "string"
        description: "主键id"
      first:
        type: "string"
        description: "一级分类"
      second:
        type: "string"
        description: "二级分类"    
      third:
        type: "string"
        description: "三级分类"
    xml:
      name: "SkillQuery"
  Skill:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "主键id"
      timestamp:
        type: "string"
        format: "date-time"
        description: "时间戳"
      first:
        type: "string"
        description: "一级分类"
      second:
        type: "string"
        description: "二级分类"    
      third:
        type: "string"
        description: "三级分类"
    xml:
      name: "Skill"
  SkillQueryResponse:
    type: "object"
    properties:
      count:
        type: "integer"
        description: "数据总量"
      rows:
        type: "array"
        items:
          $ref: "#/definitions/Skill"
    xml:
      name: "SkillQueryResponse"
  DistinctSkillRequest:
    type: "object"
    properties:
      name:
        type: "string"
        description: "要distinct的字段名称"
        enum: 
        - "first"
        - "second"
        - "third"
      first:
        type: "string"
        description: "一级分类"
      second:
        type: "string"
        description: "二级分类"    
      third:
        type: "string"
        description: "三级分类"
    xml:
      name: "DistinctSkillRequest"
  DistinctSkillResponse:
    type: "array"
    description: "待展示的列表"
    items: 
      properties:
        first:
          type: "string"
          description: "第一分类列表"
        second:
          type: "string"
          description: "第二分类列表"
        third:
          type: "string"
          description: "第三分类列表"
    xml:
      name: "DistinctSkillResponse"
  ArticleQueryRequest:
    type: "object"
    properties:
      currentPage:
        type: "integer"
        format: "int64"
        description: "当前页数"
      pageSize:
        type: "integer"
        format: "int64"
        description: "分页大小"
      sorter:
        type: "string"
        description: "排序方式 格式：字段名_排序方式 例如：name_descend"
      id:
        type: "string"
        description: "主键id"
      title:
        type: "string"
        description: "文章标题:模糊查询"
      platform:
        type: "string"
        description: "发表平台:精确查询"
      first:
        type: "string"
        description: "一级分类:用来筛选技能"
      second:
        type: "string"
        description: "二级分类:用来筛选技能"    
      third:
        type: "string"
        description: "三级分类:用来筛选技能"
    xml:
      name: "ArticleQueryRequest"
  Article:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "主键id"
      timestamp:
        type: "string"
        format: "date-time"
        description: "时间戳"
      title:
        type: "string"
        description: "文章标题"
      createDate:
        type: "string"
        format: "date-time"
        description: "文章发表时间"    
      platform:
        type: "string"
        description: "发表平台"
      skillId:
        type: "string"
        description: "技能id"
      skill:
        $ref: "#/definitions/Skill"
      url:
        type: "string"
        description: "访问文章的url"
    xml:
      name: "Article"
  ArticleQueryResponse:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int64"
        description: "数据量"
      rows:
        type: "array"
        items:
          $ref: "#/definitions/Article"
        description: "文章列表"
    xml:
      name: "ArticleQueryResponse"
  DistinctPlatformResponse:
    type: "array"
    description: "平台列表"
    items:
      properties:
        platform:
          type: "string"
  BookQueryRequest:
    type: "object"
    properties:
      currentPage:
        type: "integer"
        format: "int64"
        description: "当前页数"
      pageSize:
        type: "integer"
        format: "int64"
        description: "分页大小"
      sorter:
        type: "string"
        description: "排序方式 格式：字段名_排序方式 例如：name_descend"
      id:
        type: "string"
        description: "主键id"
      name:
        type: "string"
        description: "书籍名称:模糊查询"
      first:
        type: "string"
        description: "一级分类:用来筛选分类"
      second:
        type: "string"
        description: "二级分类:用来筛选分类"    
      third:
        type: "string"
        description: "三级分类:用来筛选分类"
  Book:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "主键id"
      timestamp:
        type: "string"
        format: "date-time"
        description: "时间戳"
      name:
        type: "string"
        description: "书籍名称"   
      author:
        type: "string"
        description: "作者"
      count:
        type: "integer"
        format: "int64"
        description: "总页数"
      current:
        type: "integer"
        format: "int64"
        description: "阅读进度"
      startDate:
        type: "string"
        format: "date-time"
        description: "开始时间"
      endDate:
        type: "string"
        format: "date-time"
        description: "结束时间"
      score:
        type: "number"
        format: "double"
        description: "豆瓣评分"
      img:
        type: "string"
        description: "封面图片url"
      skillId:
        type: "integer"
        description: "技能主键"
      skill:
        description: "技能"
        $ref: "#/definitions/Skill"
    xml:
      name: "Book"
  BookQueryResponse:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int64"
        description: "数据量"
      rows:
        type: "array"
        items:
          $ref: "#/definitions/Book"
        description: "书籍列表"
    xml:
      name: "BookQueryResponse"
  NoteQueryRequest:
    type: "object"
    properties:
      currentPage:
        type: "integer"
        format: "int64"
        description: "当前页数"
      pageSize:
        type: "integer"
        format: "int64"
        description: "分页大小"
      sorter:
        type: "string"
        description: "排序方式 格式：字段名_排序方式 例如：name_descend"
      id:
        type: "string"
        description: "主键id"
      name:
        type: "string"
        description: "查询书籍:精确匹配"
    xml:
      name: "NoteQueryRequest"
  Note:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "主键id"
      timestamp:
        type: "string"
        format: "date-time"
        description: "时间戳"
      bookId:
        type: "integer"
        format: "int64"
        description: "书籍主键"
      current:
        type: "string"
        description: "本地阅读进度"
      date:
        type: "string"
        format: "date-time"
        description: "编写笔记时间"
      url:
        type: "string"
        description: "访问笔记的url"
      book:
        description: "书籍信息"
        $ref: "#/definitions/Book"
    xml:
      name: "Note"
  NoteQueryResponse:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int64"
        description: "数据量"
      rows:
        type: "array"
        items:
          $ref: "#/definitions/Note"
        description: "笔记列表"
    xml:
      name: "NoteQueryResponse"
  BulletinQueryRequest:
    type: "object"
    properties:
      currentPage:
        type: "integer"
        format: "int64"
        description: "当前页数"
      pageSize:
        type: "integer"
        format: "int64"
        description: "分页大小"
      sorter:
        type: "string"
        description: "排序方式 格式：字段名_排序方式 例如：name_descend"
      id:
        type: "string"
        description: "主键id"
      level:
        type: "integer"
        format: "int64"
        description: "任务难度[0 - 4][普通,稀有,史诗,传说,??!!]"
      startDate:
        type: "string"
        description: "任务开始的时间范围开始"
      endDate:
        type: "string"
        description: "任务开始的时间范围结束"
    xml:
      name: "BulletinQueryRequest"
  Bulletin:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "主键id"
      timestamp:
        type: "string"
        format: "date-time"
        description: "时间戳"
      sketch: 
        type: "string"
        description: "简述"
      level:
        type: "integer"
        format: "int64"
        description: "任务难度[0 - 4][普通,稀有,史诗,传说,??!!]"
      startDate:
        type: "string"
        format: "date-time"
        description: "任务开始时间"
      endDate:
        type: "string"
        format: "date-time"
        description: "任务结束时间"
      startUrl:
        type: "string"
        description: "执行任务url"
      endUrl:
        type: "string"
        description: "任务结果url"
    xml:
      name: "Bulletin"
  BulletinQueryResponse:
    type: "object"
    properties:
      count:
        type: "integer"
        format: "int64"
        description: "数据量"
      rows:
        type: "array"
        items:
          $ref: "#/definitions/Bulletin"
        description: "任务列表"
    xml:
      name: "BulletinQueryResponse"